GOOGLE_CLIENT_ID=votre-CLIENTID.apps.googleusercontent.com
GOOGLE_REDIRECT_URL=com.googleusercontent.apps.votre-CLIENTID:/oauth2redirect/google
API_BASE_URL=votre-api-url/api
API_KEY_OPENAI=votre-api-key #"https://platform.openai.com/settings/organization/api-keys"
API_OPENAI_URL=https://api.openai.com/v1/completions